name: qafix

on:
  pull_request_target:
    types:
      - opened

jobs:
  edit-pr:
    if:  startsWith(github.head_ref, 'qafix/')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      QAFIX_BASE_BRANCH: qa
    steps:
      - uses: actions/checkout@v2
      - name: edit pull-request
        run: |
          gh pr edit ${{ github.event.pull_request.number }} --base $HOTFIX_BASE_BRANCH
